@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;


// Customize the entire app. Change :root to your selector if you want to scope the styles.

:root {
  @include mat.button-overrides((
    container-shape: '6px',
    label-text-color: black
  ));
  @include mat.card-overrides((
    container-color: rgb(245, 241, 253)
  ));
  @include mat.icon-overrides((
    color: rgb(15, 1, 48),
  ));
  @include mat.paginator-overrides((
    container-text-color: black,
    container-background-color: white,
    
  ));
}

.mat-badge-content {
  background-color: red !important;
  color: white !important;
}

.container{
  @apply mx-auto max-w-screen-2xl
}

.product-item-text{
  color: black;
}

.match-input-height{
  height: var(--mat-form-field-container-height) !important;
}

.text-primary{
  @apply text-blue-700
}